<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="asciinema documentation">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <div id="header">
    <a href="/"><img src="/img/logo-red.svg" style="height: 2em" /></a>
    <span>asciinema docs</span>
    <!-- <ul>
      <li>
        <a href="https://asciinema.org/explore">Watch</a>
      </li>
      <li>
        <a href="https://asciinema.org/docs/getting-started">Record</a>
      </li>
      <li>
        <a href="https://blog.asciinema.org">Blog</a>
      </li> -->
  </div>

  <div id="main" role="main">
